/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
.menu-text{
    background:#B6717C;
    border-radius:5px;
    padding: 3px;
    margin: 20px !important;
    border: 1px solid black;
}
.menu-text.active{
    background:#666;
    color:#fff
} 
.menu-text.active a:hover{
    color:#000
}
.no-js .title-bar {
  display: none;
}
@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
  .no-js .title-bar {
    display: none;
  }
}
.top-bar {
    z-index: 2;
    background-color: transparent !important;
}
#main-nav{
    background-color: transparent !important;
    z-index: 60;
    position: fixed !important;
    top: 0;
}
.menu-text a{
    color: #F8F7F7 !important;
}
.title-bar{
    background-color: grey;
}
#fullpage,.section,body,html,.fp-tableCell{
    height:100% !important;
    background-color: #5B584F;
    color: #B6717C;
}
.fp-next{
    border-color: transparent transparent transparent #F8F7F7 !important;
}
.fp-previous{
    border-color: transparent #F8F7F7 transparent transparent !important;
}
.fp-slidesNav{
    text-align: center !important;
}
/* #fp-nav ul, .fp-slidesNav ul {
    margin-top: -100px !important;
    color: #F8F7F7 !important;
} */

#section-landing .fp-tableCell{
    background-image: url("./images/reilly-background.jpg");
    background-size: cover;
}
