/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

#fullPage-nav li a,#menu li a,a{
    text-decoration:none
}
.section,.wrap{
    position:relative
}
img{
    border:0
}
ol,ul{
    list-style:none
}
body{
    font-family:arial,helvetica;
    overflow:hidden;
}
#fullpage,.section,body,html{
    height:100%
}
#myMenu{
    z-index:70;position:fixed
}
#myMenu li{
    display:inline-block;
    margin:10px;
    color:#000;
    background:#fff;
    background:rgba(255,255,255,.5);
    border-radius:10px
}
#myMenu li.active{
    background:#666;
    background:rgba(0,0,0,.5);
    color:#fff
}
#myMenu li a,#menu li.active a:hover{
    color:#000
}
#myMenu li:hover{
    background:rgba(255,255,255,.8)
}
#myMenu li a,#menu li.active a{
    padding:9px 18px;display:block
}
#myMenu{
    top:0;
    left:0;
    height:40px;
    width:100%;
    margin:0;
}